section{
      margin-left: 10px;
}
div:first-child{
      background-color: #ADD8E6;
      border-bottom: 1px solid #00008B;
      border-right: 1px solid #00008B;
}
.enlace{
      font-weight: bold;
      text-decoration: none;
}
body{
      display: flex;
      flex-direction: row;
      background-color: #f5deb3;
}
#normal{
      font-weight: bold;
      display: block;
}
aside{
      height: 100vh;
      width: 100px;
      background-color: #07C9E0;
}
div:last-child{
      padding: 1px;
      border: 1px solid black;
      background-color: yellow;
}