body{
      background-color: #C1D72F;
      color: white;
      font-size: 2em;
      text-align: center;
}

#abecedario{
      display: flex;
      width: 1200px;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0 auto;
}

.letra{
      width: 100px;
      height: 75px;
      margin-left: 20px;
      margin-bottom: 20px;
      background-color: white;
      border-radius: 20px;
      color: #C1D72F;
      text-align: center;
      padding-top:25px;
}

#solucion{
      height: 50px;
      width: 400px;
      margin: 0 auto;
}